/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


ol, ul {
  list-style: none;
}


/* Основні стилі */
body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #F8F2EF;
  color: #333; */
}

.container {
    width: 390px;
    margin: 0 auto;
  }

  /*  Header */
  .header {
    width: 100%;
    height: 35px;
    background-color: #EE2A4A;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-title {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.52px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
   
  }
 .header-link {
    display: none;
 }

 /*  Hero */
 .hero {
    padding-bottom: 23.5px;
 }
.logo-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 15px 8.7px 22px;
}
.logo-img {
    width: 140px;
    height: 34.5px;
}
.guarantee {
    display: none
}

.logo-btn {
    width: 134px;
height: 29.31px;
background-color: #EE2A4A;
font-size: 9.16px;
font-weight: 700;
line-height: 11.09px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
border: none;
}

.hero-wrap {
    text-align: center;
}
.hero-title-wrap {
    display: block;
    width: 340px;
    margin-top: 25.8px;
    margin-left: 44.46px;
}
.hero-title {
font-size: 42.74px;
font-weight: 400;
line-height: 51.72px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.hero-description-wrap {
    display: block;
    width: 229px;
    margin-top: 6.8px;
}
.hero-description {

font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.hero-img {
    margin-top: 4.5px;
    width: 338.74px;
height: 295px;
}

.hero-review-wrap {
    display: flex;
    margin-top: 24px;
    margin-left: 42.3px;
}

.hero-review-img {
    width: 43.5px;
    height: 43.5px;
}

.hero-review-text-wrap {
    margin-left: 10px;
    width: 200px;
}
.hero-review-name-wrap {
    display: flex;
   
}

.hero-review-name {
font-size: 9.56px;
font-style: italic;
font-weight: 400;
line-height: 11.57px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-left: 6.5px;
}
.hero-review-description {
    font-size: 11.15px;
    font-weight: 400;
    line-height: 13.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
margin-top: 6.5px;
}

.hero-review-stars {
color: #EE2A4A;
}
.hero-btn {
    margin-top: 21px;
    width: 287px;
height: 39.52px;
background-color: #EE2A4A;
color: #FFFFFF;
font-size: 13.17px;
font-weight: 700;
line-height: 15.94px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
border: none;
}

/*  Compaigns-logo */
.compaigns-logo {
    background-color: #EE2A4A;
width: 100%;
height: 120px;
padding-left: 50.5px;
display: flex;
align-items: center;
}

.compaigns-logo-img-askmen-wrap {
    display: none;
}

.compaigns-logo-img-vice-wrap {
    width: 212px;
    text-align: end;
}
.compaigns-logo-img-vice {
    /* width: 90px;
    height: 29px; */
    margin-right: 22.5px;
}

.compaigns-logo-title {
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
}
.compaigns-logo-img-purewow-wrap {
    display: none;
}

/*  three Reasons */
.three-reasons {
    height: 500px;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 12.5px;
}

.three-reasons-title-btn-wrap {
    display: flex;
    justify-content: space-between;
}
.three-reasons-title-wrap {
    width: 194px;
}
.three-reasons-title {
font-size: 35.68px;
font-weight: 400;
line-height: 43.18px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.three-reasons-description {
    margin-top: 4px;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.three-reasons-btn-wrap {
    display: flex;
    gap: 8.5px;
    align-items: end;
}

.three-reasons-btn {
    width: 22.46px;
height: 22.46px;
font-weight: 700;
    border-radius: 50%;
    border: 0.77px solid #000000;
   background-color: #FFFFFF;
}
.three-reasons-wrap {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.three-reasons-list {
    width: 276.68px;
height: 296.55px;
border: 1.45px solid #000000;
background-color: #F6F4ED;
padding: 20px 23.5px 29px 25px;
display: none;
}

  .three-reasons-list.active {
    display: block;
  }

.three-reasons-lst-number {
    display: block;
    text-align: center;
    width: 57.01px;
height: 26.78px;
background-color: #EE2A4A;
font-size: 20.73px;
font-weight: 700;
line-height: 25.09px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
}

.three-reasons-list-title {
font-size: 22.46px;
font-weight: 400;
line-height: 27.18px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 14.5px;
}

.three-reasons-list-description {
font-size: 15.55px;
font-weight: 400;
line-height: 18.82px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 11px;
}

 /*  Footer */
 .footer {
    min-height: 347px;
    padding: 22px 37px 0 31px;
 }

 .footer-title {
    font-size: 35px;
    font-weight: 400;
    line-height: 42.36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
 }

 .footer-description {
    display: none
 }
 .faq-wrap {
margin-top: 41px;
 }

 .faq-list {
min-height: 54px;
border-bottom: 1px solid #000000;
display: flex;
flex-direction: column; 
  justify-content: center;
 }

 .faq-title-wrap {
    width: 100%;
display: flex;
justify-content: space-between;
align-items: center; 
margin-top: 10px;
padding-left: 10px;
padding-right: 9px;
 }

 .faq-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
 }

 .faq-toggle-button {
    font-size: 16.08px;
    font-weight: 400;
    line-height: 19.46px;
    background-color: transparent;
    border: none;
 }

 .faq-description {
padding-top: 10px;
padding-bottom: 10px;
font-size: 12px;
font-weight: 400;
line-height: 12px;
 }
  /* Media Query for Mobile */
@media (max-width: 1439px) {

  
  }
  
  /* Media Query for Desktop (1440px) */
  @media (min-width: 1440px) {
    .container {
        width: 1440px;
      }

      .header-link {
        display: block;
       font-size: 14px;
font-weight: 700;
line-height: 16.94px;
text-decoration-line: underline;
text-decoration-style: solid;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
margin-left: 38px;
     }
 /*  Hero */
 .hero {
    padding-bottom: 120px;
    position: relative;
 }
.logo-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 15px 8.7px 22px;
}
.logo-img {
    width: 140px;
    height: 34.5px;
}
.guarantee {
    display: none
}

.logo-btn {
    width: 134px;
height: 29.31px;
background-color: #EE2A4A;
font-size: 9.16px;
font-weight: 700;
line-height: 11.09px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
border: none;
}

.hero-wrap {
    text-align: left;
    margin-left: 210px;
}
.hero-title-wrap {
    width: 440px;
    margin-top: 84.7px;
    margin-left: 0px;
}
.hero-title {
    font-size: 57.26px;
    line-height: 69.3px;
}

.hero-description-wrap {
    width: 350px;
    margin-top: 12.33px;
}
.hero-description { 
    font-size: 16.66px;
    line-height: 20.16px;    

}

.hero-img {
    position: absolute;
    top: 70px;
    right: 134px;
    margin-top: 4.5px;
    width: 560px;
    height: auto;
}

.hero-review-wrap {
    display: flex;
    margin-top: 25px;
    margin-left: 0px;
}

.hero-review-img {
    width: 57px;
    height: 57px;
}

.hero-review-text-wrap {
    margin-left: 17.8px;
    width: 261px;
}

.hero-review-name {
    font-size: 12.48px;
    line-height: 15.1px;
    margin-left: 7.9px;
}
.hero-review-description {
    font-size: 14.56px;
    line-height: 17.62px;
    margin-top: 8.7px;
}

.hero-review-stars {
    font-size: 22px;
}

.hero-btn {
    margin-top: 35.3px;
    width: 364.38px;
    height: 52.05px;
font-size: 18.74px;
line-height: 22.68px;
   
}

/*  Compaigns-logo */
.compaigns-logo {
height: 210px;
padding: 0px 272px;
gap: 170px;
;
}

.compaigns-logo-img-askmen-wrap {
    display: block;
}

.compaigns-logo-img-vice-wrap {
    width: auto;
    text-align: end;
}
.compaigns-logo-img-vice {
    margin-right: 0px;
}

.compaigns-logo-title {
margin-top: 16px;
}
.compaigns-logo-img-purewow-wrap {
    display: block;
}

/*  three Reasons */
.three-reasons {
    height: 560px;
    padding-top: 45px;
    padding-left: 0px;
    padding-right: 0px;
}

.three-reasons-title-btn-wrap {
    justify-content: center;
   
}
.three-reasons-title-wrap {
    width: 421px;
    text-align: center;
}
.three-reasons-title {
font-size: 35px;
line-height: 42.36px;
}

.three-reasons-description {
   display: none;
}

.three-reasons-btn-wrap {
    display: none;
}


.three-reasons-wrap {
    margin-top: 28.8px;
    gap: 31.7px;
}

.three-reasons-list {
    width: 321.32px;
height: 343.32px;
border: 1.45px solid #000000;
background-color: #F6F4ED;
padding: 23px 40px 0px 29px;
display: block;
}

.three-reasons-lst-number {
      width: 66px;
height: 31px;
font-size: 24px;
font-weight: 700;
line-height: 29.09px;

}

.three-reasons-list-title {
font-size: 26px;
line-height: 31.5px;
margin-top: 12.6px;
}

.three-reasons-list-description {
font-size: 18px;
line-height: 22px;
margin-top: 15px;
}



/*  Footer */
     .footer {
        min-height: 403px;
        padding: 58px 188px 0 185px;
        display: flex;
        justify-content: space-between;
     }
    
     .footer-title-wrap {
        width: 475px;
     }
    
     .footer-description {
        margin-top: 19.5px;
        display: block;
      font-size: 18px;
font-weight: 400;
line-height: 21.78px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

     }
     .faq-wrap {
        width: 469px;
    margin-top: 0px;
     }
    
     .faq-list {
    min-height: 75px;
    border-bottom: 1.25px solid #000000;
     }
    
     .faq-title-wrap {
    
     }
    
     .faq-title {
font-size: 19.21px;
line-height: 23.25px;
      
     }
    
     .faq-toggle-button {
        font-size: 22px;
     line-height: 26px;
     }
    
     .faq-description {
    font-size: 16px;
    line-height: 18px;
     }
  }
